body{
    font-family:
            "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.bg-blue{
    background-color: mediumblue;
    color: white;
}
#myHeader {
  line-height: 50px;
  text-align: center;
  height: 60px;
}
#about {

}
.card {
  border-radius: 0%;
  box-shadow: 5px 5px 10px lightgray;
  margin: 20px;
  padding: 20px;
}
.footer {
  margin-top: auto;
  text-align: center;
  padding: 5px;

}
img {
  width: 250px;
}
ul{
    padding-left: 25px;
}